// Firefox
* {
  scrollbar-width: rem(8);

  //scrollbar-color: $firstAccentColor #d6d6d6;
  // Chrome, Edge, and Safari
  &::-webkit-scrollbar {
    width: rem(8);
    background-color: $whiteColor;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 rem(6) rgba(#000, 20%);
    border-radius: rem(4);
    background: #eee;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: rem(4);
    border: 0 none #fff;
    //background-color: lighten($firstAccentColor, 10%);
    transition: all 280ms ease-in-out;

    &:hover {
      //background-color: $firstAccentColor;
    }
  }
}